@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #566085;
  --secondary-color: #e38957;
  --primary-color-dark: #1e2134;
  --accent-color: #d7e2ed;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color-dark);
  z-index: 1;
}

.menu {
  list-style: none;
  color: var(--accent-color);
}

.menu-item {
  display: inline-block;
  padding: 20px;
  transition: 0.2s;
}

.menu-item a:hover {
  color: var(--secondary-color);
}

.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  transition: all 1s;
}

.logo {
  text-decoration: none;
  position: fixed;
  padding-left: 1rem;
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: 900;
}

.introduction {
  padding-left: 50px;
}

.content {
  height: 100vh;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.half-section {
  width: 50%;
}

.section {
  height: 100%;
}

.avatar-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent-color);
}

.avatar-container img {
  height: 700px;
  width: auto;
}

.avatar-container h3 {
  margin: 0;
}

h1 {
  margin: 100px 0 0 0;
  font-size: 60px;
  font-weight: 900;
  color: var(--accent-color);
  text-transform: uppercase;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.socials-icon {
  font-size: 30px;
  text-decoration: none;
  margin-right: 15px;
  color: var(--accent-color);
  transition: 0.5s;
}

.socials-icon:hover {
  color: var(--secondary-color);
}

.text-section {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-color);
  letter-spacing: 1px;
}

.title-section {
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--primary-color-dark);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
}

.project-list {
  list-style: none;
}

.project-list li {
  margin-bottom: 30px;
}

.project-link {
  text-decoration: none;
  color: var(--accent-color);
  font-style: italic;
}

aside {
  padding-left: 100px;
  padding-right: 100px;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
}

.input-field {
  border: 0;
  background-color: var(--accent-color);
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  margin-top: 5px;
  margin-bottom: 15px;
}

.input-field:focus {
  outline: 0;
  border-bottom: 3px solid var(--primary-color-dark);
}

.btn-send-message {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  transition: all 250ms;
  color: var(--primary-color-dark);
}

.btn-send-message:hover,
.btn-send-message:focus {
  background-color: var(--primary-color-dark);
  color: var(--accent-color);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color-dark);
  color: var(--accent-color);
  padding: 20px;
}

.footer-section-container {
  display: flex;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 18px;
}

.uppercase {
  text-transform: uppercase;
}

.text-raleway-900 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.color-secondary {
  color: var(--secondary-color);
}

.text-md {
  font-size: 1.2rem;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

textarea {
  resize: none;
}
